@model List<ContatoModel>

    <table id="table-contatos-usuario" class="table" width="100%">
        <thead>
            <tr>
                <th scope="col" style="text-align:center;"></th>
                <th scope="col" style="text-align:center;">Nome</th>
                <th scope="col" style="text-align:center;">Email</th>
                <th scope="col" style="text-align:center;">Telefone</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var contato in Model)
                {
                    <tr>
                        <th scope="row" style="text-align:center;">@contato.Id</th>
                        <td style="text-align:center;">@contato.Nome</td>
                        <td style="text-align:center;">@contato.Email</td>
                        <td style="text-align:center;">@contato.Telefone</td>
                    </tr>
                }
            }
        </tbody>
    </table>