@model LoginModel
@{
    ViewData["Title"] = "Página de login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn-close" aria-label="Close"></button>
        @TempData["MensagemErro"]
    </div>
}
<div class="text-center">
    <h1>Faça o login</h1>
</div>
<form asp-controller="Login" asp-action="Entrar" method="post">
    <div class="mb-2">
        <label for="login" class="form-label">Login</label>
        <input asp-for="Login" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Digite o login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>

    <label for="inputPassword5" class="form-label">Senha</label>
    <div class="mb-2">
        <div class="input-group">
            <input type="password" asp-for="Senha" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="Digite a senha do Usuario">
            <button class="btn btn-outline-secondary shadow-none" type="button" id="togglePassword">
                Mostrar
            </button>
        </div>
        @Html.ValidationMessageFor(x => x.Senha)
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-1">Entrar</button>
</form>